<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post Details</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Post details</h1>
    <div class="row">
        <div class="col-5">
            <div class="form-group">
                <label for="text">Post text</label>
                <input type="text" disabled="disabled" id="text" name="text" class="form-control" th:value="${post.text}">
            </div>
            <div class="form-group">
                <label>Picture</label>
                <img id="postPicture" style="max-width: 800px" th:src="${post.picture}">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Like</button>
            </div>
        </div>
    </div>
    <h2 id="post-comments" style="margin-top: 10px">Comments</h2>
    <div class="form-group" th:each="comment,iter : ${comments}">
        <b th:text="${comment.personName}"></b>
        <div class="form-control" th:id="${iter.index}" th:text="${comment.comment}" disabled></div>
    </div>
    <div class="form-group">
        <label for="addComment">Add comment</label>
        <textarea class="form-control" id="addComment" rows="3" placeholder="Comment..."></textarea>
        <button id="createComment" class="btn btn-primary mt-2">Create comment</button>
    </div>

    <script th:inline="javascript">
        const postId = [[${post.id}]];
    </script>

    <script>
        window.addEventListener('load', function () {
            document.getElementById("createComment").addEventListener("click", function () {
                const comment = document.getElementById("addComment").value;

                fetch('/comments', {
                    method: 'POST',
                    body: JSON.stringify({
                        postId: postId,
                        comment: comment
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function () {
                    window.location.reload();
                });
            });
        });
    </script>
</div>
</body>
</html>
